<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<real>128522</real>
	<real>128515</real>
	<real>128542</real>
	<real>128544</real>
	<real>128540</real>
	<real>128525</real>
	<real>128561</real>
	<real>128531</real>
	<real>128546</real>
	<real>128527</real>
	<real>128532</real>
	<real>128513</real>
	<real>128521</real>
	<real>128547</real>
	<real>128534</real>
	<real>128554</real>
	<real>128541</real>
	<real>128562</real>
	<real>128557</real>
	<real>128514</real>
	<real>128546</real>
	<real>128533</real>
	<real>128516</real>
	<real>128545</real>
	<real>128538</real>
	<real>128536</real>
	<real>128532</real>
	<real>128552</real>
	<real>128567</real>
	<real>128563</real>
	<real>128530</real>
	<real>128560</real>
	<real>128148</real>
	<real>127801</real>
	<integer>128520</integer>
	<integer>128303</integer>
	<integer>128102</integer>
	<integer>128103</integer>
	<integer>128068</integer>
	<integer>128104</integer>
	<integer>128105</integer>
	<real>128085</real>
	<real>128094</real>
	<real>128247</real>
	<real>128222</real>
	<real>128074</real>
	<real>127935</real>
	<integer>127934</integer>
	<integer>128031</integer>
	<real>128221</real>
	<real>128084</real>
	<integer>127802</integer>
	<integer>127799</integer>
	<integer>127803</integer>
	<integer>127796</integer>
	<real>127797</real>
	<integer>127880</integer>
	<real>128163</real>
	<integer>127881</integer>
	<real>127872</real>
	<real>128227</real>
	<real>128082</real>
	<real>128087</real>
	<real>128136</real>
	<real>128088</real>
	<real>128089</real>
	<real>127916</real>
	<real>128276</real>
	<integer>127926</integer>
	<integer>128150</integer>
	<integer>128147</integer>
	<integer>128152</integer>
	<integer>128168</integer>
	<integer>128166</integer>
	<real>127838</real>
	<integer>127836</integer>
	<real>127842</real>
	<integer>127843</integer>
	<real>127822</real>
	<real>127818</real>
	<real>127827</real>
	<integer>127817</integer>
	<integer>128064</integer>
	<integer>128076</integer>
</array>
</plist>
