<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[可爱]</key>
	<real>128522</real>
	<key>[笑脸]</key>
	<real>128515</real>
	<key>[囧]</key>
	<real>128542</real>
	<key>[生气]</key>
	<real>128544</real>
	<key>[鬼脸]</key>
	<real>128540</real>
	<key>[花心]</key>
	<real>128525</real>
	<key>[害怕]</key>
	<real>128561</real>
	<key>[我汗]</key>
	<real>128531</real>
	<key>[尴尬]</key>
	<real>128546</real>
	<key>[哼哼]</key>
	<real>128527</real>
	<key>[忧郁]</key>
	<real>128532</real>
	<key>[呲牙]</key>
	<real>128513</real>
	<key>[媚眼]</key>
	<real>128521</real>
	<key>[累]</key>
	<real>128547</real>
	<key>[苦逼]</key>
	<real>128534</real>
	<key>[瞌睡]</key>
	<real>128554</real>
	<key>[哎呀]</key>
	<real>128541</real>
	<key>[刺瞎]</key>
	<real>128562</real>
	<key>[哭]</key>
	<real>128557</real>
	<key>[激动]</key>
	<real>128514</real>
	<key>[难过]</key>
	<real>128546</real>
	<key>[害羞］</key>
	<real>128533</real>
	<key>[高兴]</key>
	<real>128516</real>
	<key>[愤怒]</key>
	<real>128545</real>
	<key>[亲]</key>
	<real>128538</real>
	<key>[飞吻]</key>
	<real>128536</real>
	<key>[得意]</key>
	<real>128532</real>
	<key>[惊恐]</key>
	<real>128552</real>
	<key>[口罩]</key>
	<real>128567</real>
	<key>[惊讶]</key>
	<real>128563</real>
	<key>[委屈]</key>
	<real>128530</real>
	<key>[生病]</key>
	<real>128560</real>
	<key>[心碎]</key>
	<real>128148</real>
	<key>[玫瑰]</key>
	<real>127801</real>
	<key>[花]</key>
	<integer>127800</integer>
	<key>[外星人]</key>
	<integer>128520</integer>
	<key>[星座]</key>
	<integer>128303</integer>
	<key>[男孩]</key>
	<integer>128102</integer>
	<key>[女孩]</key>
	<integer>128103</integer>
	<key>[嘴唇]</key>
	<integer>128068</integer>
	<key>[爸爸]</key>
	<integer>128104</integer>
	<key>[妈妈]</key>
	<integer>128105</integer>
	<key>[衣服]</key>
	<real>128085</real>
	<key>[皮鞋]</key>
	<real>128094</real>
	<key>[照相]</key>
	<real>128247</real>
	<key>[电话]</key>
	<real>128222</real>
	<key>[石头]</key>
	<real>128074</real>
	<key>[胜利]</key>
	<real>126993</real>
	<key>[禁止]</key>
	<integer>126994</integer>
	<key>[滑雪]</key>
	<real>127935</real>
	<key>[高尔夫]</key>
	<real>127934</real>
	<key>[网球]</key>
	<real>127934</real>
	<key>[棒球]</key>
	<real>127934</real>
	<key>[冲浪]</key>
	<integer>127940</integer>
	<key>[足球]</key>
	<real>127934</real>
	<key>[小鱼]</key>
	<integer>128031</integer>
	<key>[问号]</key>
	<integer>127798</integer>
	<key>[叹号]</key>
	<integer>127799</integer>
	<key>[顶]</key>
	<integer>127571</integer>
	<key>[写字]</key>
	<real>128221</real>
	<key>[衬衫]</key>
	<real>128084</real>
	<key>[小花]</key>
	<real>127802</real>
	<key>[郁金香]</key>
	<integer>127799</integer>
	<key>[向日葵]</key>
	<integer>127803</integer>
	<key>[鲜花]</key>
	<real>127750</real>
	<key>[椰树]</key>
	<integer>127796</integer>
	<key>[仙人掌]</key>
	<real>127797</real>
	<key>[气球]</key>
	<integer>127880</integer>
	<key>[炸弹]</key>
	<real>128163</real>
	<key>[喝彩]</key>
	<real>127881</real>
	<key>[剪子]</key>
	<integer>127775</integer>
	<key>[蝴蝶结]</key>
	<real>127872</real>
	<key>[机密]</key>
	<real>127881</real>
	<key>[铃声]</key>
	<real>128227</real>
	<key>[女帽]</key>
	<real>128082</real>
	<key>[裙子]</key>
	<real>128087</real>
	<key>[理发店]</key>
	<real>128136</real>
	<key>[和服]</key>
	<real>128088</real>
	<key>[比基尼]</key>
	<real>128089</real>
	<key>[拎包]</key>
	<real>128092</real>
	<key>[拍摄]</key>
	<real>127916</real>
	<key>[铃铛]</key>
	<real>128276</real>
	<key>[音乐]</key>
	<integer>127926</integer>
	<key>[心星]</key>
	<integer>128150</integer>
	<key>[粉心]</key>
	<integer>128147</integer>
	<key>[丘比特]</key>
	<integer>128152</integer>
	<key>[吹气]</key>
	<integer>128168</integer>
	<key>[口水]</key>
	<integer>128166</integer>
	<key>[对]</key>
	<integer>126990</integer>
	<key>[错]</key>
	<integer>128035</integer>
	<key>[绿茶]</key>
	<integer>127861</integer>
	<key>[面包]</key>
	<real>127838</real>
	<key>[面条]</key>
	<integer>127836</integer>
	<key>[咖喱饭]</key>
	<integer>127835</integer>
	<key>[饭团]</key>
	<integer>127833</integer>
	<key>[麻辣烫]</key>
	<real>127842</real>
	<key>[寿司]</key>
	<integer>127843</integer>
	<key>[苹果]</key>
	<integer>127822</integer>
	<key>[橙子]</key>
	<real>127818</real>
	<key>[草莓]</key>
	<real>127827</real>
	<key>[西瓜]</key>
	<integer>127817</integer>
	<key>[柿子]</key>
	<integer>127813</integer>
	<key>[眼睛]</key>
	<integer>128064</integer>
	<key>[好的]</key>
	<integer>128076</integer>
</dict>
</plist>
